<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentFeedback</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminOperation</servlet-name>
    <servlet-class>com.controller.AdminOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOperation</servlet-name>
    <url-pattern>/AdminOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherController</servlet-name>
    <servlet-class>com.controller.TeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherController</servlet-name>
    <url-pattern>/TeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveTeachercontrol</servlet-name>
    <servlet-class>com.controller.RemoveTeachercontrol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTeachercontrol</servlet-name>
    <url-pattern>/RemoveTeachercontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Studentcontroller</servlet-name>
    <servlet-class>com.controller.Studentcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentcontroller</servlet-name>
    <url-pattern>/Studentcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLoginOperation</display-name>
    <servlet-name>TeacherLoginOperation</servlet-name>
    <servlet-class>com.controller.TeacherLoginOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLoginOperation</servlet-name>
    <url-pattern>/TeacherLoginOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginOperation</display-name>
    <servlet-name>StudentLoginOperation</servlet-name>
    <servlet-class>com.controller.StudentLoginOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginOperation</servlet-name>
    <url-pattern>/StudentLoginOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherPassword</display-name>
    <servlet-name>TeacherPassword</servlet-name>
    <servlet-class>com.controller.TeacherPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherPassword</servlet-name>
    <url-pattern>/TeacherPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPassword</display-name>
    <servlet-name>StudentPassword</servlet-name>
    <servlet-class>com.controller.StudentPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPassword</servlet-name>
    <url-pattern>/StudentPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRemove</display-name>
    <servlet-name>StudentRemove</servlet-name>
    <servlet-class>com.controller.StudentRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRemove</servlet-name>
    <url-pattern>/StudentRemove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackController</display-name>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>com.controller.FeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutadmin</display-name>
    <servlet-name>Logoutadmin</servlet-name>
    <servlet-class>com.controller.Logoutadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutadmin</servlet-name>
    <url-pattern>/Logoutadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutfaculty</display-name>
    <servlet-name>Logoutfaculty</servlet-name>
    <servlet-class>com.controller.Logoutfaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutfaculty</servlet-name>
    <url-pattern>/Logoutfaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutstudent</display-name>
    <servlet-name>Logoutstudent</servlet-name>
    <servlet-class>com.controller.Logoutstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutstudent</servlet-name>
    <url-pattern>/Logoutstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.controller.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.controller.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
</web-app>